@import './variables.scss';

.App {
  background-color: $light;
  color: $dark;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
    &:hover {
      color: $highlight;
    }
  }
  header {
    text-align: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 1rem;
      margin-top: 0;
    }
  }
}
