@import './variables.scss';

.Client {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  @supports not (-ms-ime-align: auto) {
    justify-content: space-evenly;
  }
  align-items: center;
  flex-direction: column;
  .client-content {
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgb(184, 184, 184);
    @media screen and (max-width: 992px) {
      background-color: $light;
      box-shadow: none;
    }

    .number {
      margin-top: -1.5rem;
      font-weight: bold;
      font-size: 7rem;
      @media screen and (max-width: 992px) {
        margin-top: -0.5rem;
        font-size: 2.7rem;
      }
    }
  }
}
