@import './variables.scss';

.Home {
  flex: 1;
  display: flex;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    &:first-of-type {
      border-right: 1px solid $dark;
    }
  }
}
