@import './variables.scss';

.Providers {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  @supports not (-ms-ime-align: auto) {
    justify-content: space-evenly;
  }
  form {
    padding: 2rem;
    border: 1px solid white;
    @media screen and (max-width: 992px) {
      border: none;
    }
    max-width: 90vw;
    h3 {
      margin-top: 0;
    }
    label {
      display: block;
      &.small {
        font-size: 0.8rem;
      }
      &.check {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1rem;
      }
    }
    .checkgroup {
      margin: 0.1rem 0 1rem 0;
    }
    input {
      margin: 0.1rem 0 1rem 0;
      &[type='text'],
      &[type='tel'] {
        width: calc(100% - 1rem);
        height: 2rem;
        padding: 0.1rem 0.5rem;
        font-weight: bold;
        color: $dark;
        font-size: 0.9rem;
        border-color: $light;
      }
      &[type='checkbox'] {
        margin: 0.5rem 0;
      }
      &[type='submit'] {
        float: right;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 1rem;
        font-family: inherit;
        font-weight: bold;
        background-color: $dark;
        color: $light;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:hover {
          background-color: $highlight;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
  .links {
    width: 50%;
    display: flex;
    @supports not (-ms-ime-align: auto) {
      justify-content: space-evenly;
    }
    @media screen and (max-width: 992px) {
      width: 80%;
    }
    h4 {
      text-align: center;
      margin-left: 0.1rem;
      margin-right: 0.1rem;
    }
  }
}
